DB_HOST=localhost
DB_PORT=5432
DB_NAME=drivex_db
DB_USERNAME=your_db_user
DB_PASSWORD=CHANGE_ME
SERVER_PORT=8081
APP_ADMIN_EMAIL=admin@drivex.com
APP_ADMIN_PASSWORD=CHANGE_ME
APP_ADMIN_NOMBRES=Admin
APP_ADMIN_APELLIDOS=DriveX
